@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

body{
  margin: auto;
  background:#f0f0f0;
}

#parallax-5{
  background: url("./images/keyboard2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-1{
  background-image: url("./images/keyboard2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-2{
  background: url("./images/keyboard.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
}

#parallax-6{
  background: url("./images/keyboard.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
}

#parallax-3{
  background: url("./images/keyboard3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 25vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-8{
  background: url("./images/keyboard3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
}

#parallax-4{
  background: url("./images/keyboard3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 25vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-7{
  background: linear-gradient(rgb(212, 90, 157),white);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
}

#parallax-9{
  background: url("./images/code.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
  height: 25vh;
}

p,h2,h4{
  text-align: center;
  color: white;
}

.h2{
  margin-top: auto;
  background: rgba(238, 238, 238, 0.479);
  padding: 8px 12px;
  border-radius: 16px;
  width: 60%;
}

#keepLearning{
  font-style: italic;
}

#header1{
  text-align: center;
  font-size: 55px;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 90px 0 25px 0;
  transform-origin: 50% 100%;
  animation-duration: 3.14s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.66,1.99);
}

h1{
  text-align: center;
  font-size: 55px;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: normal;
  color: black;
  margin: 0;
  padding: 90px 0 25px 0;
  text-shadow: 1px 1px 1px #333;
}


@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(.2, .2);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

a{
  color: white;
  text-decoration: none;
  transition: all .2s ease-out;
  padding: 3px;
}

a:hover{
  color: #40cc16;
}

.toolbar{
  margin: auto;
  background: #363945;
  color: white;
  max-height: 100px;
  align-content: center;
  justify-content: center;
}

.toolbarList{
  margin: auto;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: auto;
  list-style-type: none;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 30px;
}

.contactDiv{
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#button1{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 250px;
  padding: 20px 10px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
}

#content{
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.644);
}

#content p{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
}