@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

body{
  margin: auto;
  background:#ffffff;
}

#parallax-1{
  background: url("./images/keyboard1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-2{
  background: url("./images/keyboard2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 11vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-3{
  background: url("./images/keyboard2.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
  height: 110vh;
}

#parallax-4{
  background: url("./images/keyboard3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 11vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-5{
  background: url("./images/keyboard3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
  height: 100vh;
}

#parallax-6{
  background: url("./images/keyboard4.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 11vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#parallax-7{
  background: url("./images/keyboard4.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
  height: 100vh;
}

#parallax-8{
  background: url("./images/code.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction:column;
  height: 700vh;
}

p,h1,h2,h4{
  text-align: center;
  color: white;
  margin: auto;
}

#keepLearning{
  font-style: italic;
}

#header1{
  text-align: center;
  font-size: 55px;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 20px 0 25px 0;
  transform-origin: 50% 100%;
  animation-duration: 3.14s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.66,1.99);
}


@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(.2, .2);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

a{
  color: white;
  text-decoration: none;
  transition: all .2s ease-out;
  padding: 3px;
}

a:hover{
  color: #40cc16;
}

.toolbar{
  margin: auto;
  background: #041e86;
  color: white;
  max-height: 100px;
  align-content: center;
  justify-content: center;
}

.toolbarList{
  margin: auto;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: auto;
  list-style-type: none;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 30px;
}

#content{
  /*margin-left: 20px;
  margin-right: 20px;*/
  background-color: rgba(255, 255, 255, 0.644);
}

#content p{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
}